
.vs/CursoCSharp/v17/.suo
.vs/CursoCSharp/v17/.suo
CursoCSharp/bin/Debug/CursoCSharp.exe
*.exe
CursoCSharp/obj/Debug/CursoCSharp.pdb
*.exe
.vs/CursoCSharp/v17/.suo
*.exe
*.exe
.vs/CursoCSharp/v17/.suo
.vs/CursoCSharp/v17/.suo
